*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

#root{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  justify-content: space-between;
  margin: 10px 4px;
  padding: 10px;
}