html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: auto;
    
    /*font-family: 'Gabarito', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;*/
}

.row{
    width: 100%;
}

.row::after{
    clear: both;
    content: '';
    display: block;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}

[class*="col-"]{
    width: 100%;
}


/*Header starts*/


header{
    background-color: greenyellow;
    padding: 0 1%;
    text-align: center;
}

.logo{
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
}

nav ul li{
    display: block;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: rgb(71, 69, 69);
    line-height: 70px;
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    transition: .4s;
}

nav ul li a:hover{
    border-radius: 10px;
    background-color: blue;
    color: white;
}

/*Header ends*/


/*Main starts*/

/*Banner starts*/
#banner-section{
    background-image: url("images/banner-img.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


.banner-contents{
    padding: 50px 10px;
    text-align: right;
}

.banner-contents h1{
    width: 100%;
    margin: 15px auto;
    font-size: 3rem;
    color: #E1700A;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}

.banner-contents p{
    width: 100%;
    font-size: 1.4rem;
    color: #C1B88A;
    padding: 10px;
}


.banner-contents .btn{
    width: 30%;
    font-size: 1.2rem;
    background-color: #E0E9F2;
    color: #04111B;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid #04111B;
    margin: 10px;
    transition: .4s;
    text-transform: uppercase;
}


.banner-contents .btn:hover{ 
    background-color: #292547;
    color: #E0E9F2;
    border: 3px solid #E0E9F2;
    transform: scale(1.1);
}

/*Banner ends*/


/*About-us starts*/

#about-us{
    padding: 1%;
}


.about-us-contents{
    text-align: justify;
}

.about-us-contents h3{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bolder;
    text-align: center;
}

.about-us-contents p{
    font-size: 0.8rem;
    margin-bottom: 10px;
}

/*About-us ends*/


/*Food-menu starts*/


#menu-sec{
    padding: 1%;
}

.card-body{
    text-align: center;
}

.card-body img{
    max-width: 100%;
    height: auto;
    display: block;
}

.item-des{
    background-color: #DF710A;
}

.item-name{
    background-color: #ADFF2F;
    color: #0A0A08;
    padding: 10px;
}

.item-des p{
    font-size: 0.8rem;
    padding: 10px;
    font-weight: bolder;
}

.card{
    transition: 0.4s;
}

.card:hover{
    transform: scale(1.1);
}


/*Food-menu ends*/


/*Contact starts*/

#contact{
    padding: 1%;
    background-color: #261A37;
}

.map{
    width: 100%;
    height: 250px;
}

.contact-details{
    color: #E0E9F2;
    text-align: center;
    padding: 20px 0px;
}

.contact-details p, address{
    font-size: 0.8rem;
}

/*Contact ends*/


/*Main ends*/



/*Footer starts*/

footer{
    padding: 1%;
    color: white;
    background-color: #242426;
}

footer p{
    line-height: 32px;
    font-size: 0.8rem;
    text-align: center;
}

.social-menus{
    text-align: center;
}

.icon-style{
    color: #E0E9F2;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 10px;
    transition: .4s;
    text-align: center;
    padding: 7px;
}

.icon-style:hover{
    background-color: greenyellow;
    transform: scale(1.2);
    color: #261A37
}

/*Footer ends*/








/*For small device:*/

@media (min-width: 576px){
    
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;} 

}

/*For medium device:*/

@media (min-width: 768px){

    .card-body img{
        max-width: 100%;
        height: 580px;
       
    }
    
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;} 
    
}

/*For large device:*/

@media (min-width: 992px){

    .logo-div{
        text-align: left;
    }

    .nav ul{
        text-align: right;
    }

    nav ul li{
        display: inline-block;
        
    }

    nav ul li a{
        display: inline-block;
        transition: .4s;
        padding: 15px 30px;
        padding-right: -40px;
    }

    nav ul li a:hover{
        background-color: transparent;
        transform: scale(1.2);
        border-radius: 0;
       
    }

    .banner-contents h1{
        font-size: 4.5rem;
    }
    
    .banner-contents p{
        font-size: 2.8rem;
    }
    
    
    .banner-contents .btn{
        width: 20%;
        font-size: 1.2rem;
        padding: 10px;
    }

    .card-body img{
        max-width: 100%;
        height: 450px;
       
    }
    
    footer p{
        text-align: left;
    }
    
    .social-menus{
        text-align: right;
    }
    
   
    
    
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;} 
    
    }